<div class="dashboard-wrapper">
  <div class="dashboard-column">
    <mat-card class="home-card">
      <mat-card-header>
        <div mat-card-avatar class="weather-header-image"></div>
        <mat-card-title>Weather Forecast</mat-card-title>
        <mat-card-subtitle>By city</mat-card-subtitle>
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select (selectionChange)="getWeatherUpdatedData($event)">
            <mat-option *ngFor="let city of cities" [value]="city.value">
              {{ city.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="5">
          <mat-grid-tile *ngFor="let item of weatherForecasts">
            <p style="text-align: center;">
              {{ item.datetime | date: "fullDate" }}
              <br />
              <img
                src="../assets/icons/{{ item.weather.icon }}.png"
                alt="{{ item.weather.description }}"
              />
              <br />
              {{ item.temp }} &#8451;
            </p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
