.dashboard-wrapper {
  display: flex;
  align-items: top;
  justify-content: space-between;
  .dashboard-column {
    width: 100%;
    .weather-audio-column {
      display: flex;
      align-items: top;
      justify-content: space-between;
      width: 100%;
      .video-audio-card {
        max-width: 98%;
        min-height: 400px;
      }
    }
    .home-card {
      max-width: 100%;
      font-family: "Open Sans";
    }
  }
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-card-title-text {
  font-size: 32px;
  font-weight: bold;
}

.mat-card-subtitle-text {
  font-size: 28px;
  font-weight: bold;
}

.mat-option-text {
  font-size: 28px;
  font-weight: normal;
}

.weatherDate {
  font-size: 18px;
  font-weight: bold;
}

.weatherTemp {
  font-size: 18px;
  font-weight: normal;
}

.applyButton {
  font-size: 20px;
  font-weight: bold;
}
