.dashboard-wrapper {
  display: flex;
  align-items: top;
  justify-content: space-between;
  .dashboard-column {
    width: 100%;
    .weather-audio-column {
      display: flex;
      align-items: top;
      justify-content: space-between;
      width: 100%;
      .video-audio-card {
        max-width: 98%;
        min-height: 400px;
      }
    }
    .home-card {
      max-width: 100%;
    }
  }
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
